<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>WITCON</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom Fonts -->
   <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
   <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

   <!-- Theme CSS -->
   <link href="/static/css/agency.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

 <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">WITCON</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <!-- do mission within -->
          <li class="dropdown">
                <a href="#resources" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="resources.html#articles" style="color:black">Articles</a></li>
                  <li><a href="resources.html#events" style="color:black">Events</a></li>
                  <li><a href="resources.html#learn" style="color:black">Learn</a></li>
                </ul>
              </li>
          <li>
            <a class="page-scroll" href="#testimonials">Testimonials</a>
          </li>
          <li>
            <a class="page-scroll btn btn-md" style="background-color:#1297BA; padding:5px; margin-top:9px; margin-left:10px" href="/signup/">Sign Up</a>
          </li>
          <li>
            <a class="page-scroll btn btn-md" style="background-color:#1297BA; padding:5px; margin-top:9px; margin-left:10px" href="/login/">LogIn</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading" style="text-transform:initial">WITCON</div>
        <div class="intro-lead-in">The Future of Women in Tech</div>
        <a href="#about" class="page-scroll btn btn-xl" style="padding:15px">Tell Me More</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" style="padding-bottom:75px;padding-top:75px">
    <div class="container">
      <div class="row" style="margin-bottom:-25px">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">About</h2>
          <h3 class="section-subheading text-muted">WITCON is a one-stop resources for girls and women across the globe to break into tech and chip away at the glass ceiling in a male-dominated industry.  Any woman with access to the internet can be matched to a mentor based on her location, spoken language, interests/skills, gender preference, and goals.  In addition, all women have access to a curated series of resources, including educational activities for all ability levels and links to events with the specific goal of advancing women in tech.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6 portfolio-item" style="margin-bottom:30px">
          <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                    </span>
          <h4 class="service-heading">Connect</h4>
          <p class="text-muted"></p>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item" style="margin-bottom:30px">
          <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
          <h4 class="service-heading">Educate</h4>
          <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
        </div>
        <div class="col-md-6" style="width:50%; margin:0 auto; margin-bottom:30px">
          <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
          <h4 class="service-heading">Support</h4>
          <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials Section -->
  <section id="testimonials" style="padding-bottom:75px;padding-top:75px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Testimonials</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/static/img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>WITCON User</h4>
                  <h4 class="subheading">Kalau T-P</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">"When I was in high school, I didn't even know what computer science was! Then I found WitCon and got matched with an awesome computer scientist nearby. We met up for coffee a few times and she gave me a few tips. A couple years pass, and now, I'm a senior software engineer at Google. And I owe it all to this remarkable tool."</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/static/img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>WITCON User</h4>
                  <h4 class="subheading">Jenny W.</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">"As a kid, I really looked up to my female mentors in computer science. Now that I'm a female mentor in computer science, I want to return the favor. So I signed up for WitCon and I got matched with a mentee who is so cool and inspiring and it reminds me of why I got in this business in the first place."</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/static/img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>WITCON User</h4>
                  <h4 class="subheading">MollyAn K.</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">"WITCON is the best! It made my transition from pre-med to the tech industry so smooth!"</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Make your
                                    <br>own
                                    <br>Success!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team Section -->
  <section id="team" class="bg-light-gray" style="padding-bottom:75px;padding-top:75px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our Team</h2>
          <h3 class="section-subheading text-muted">A group of students dedicated to diversity in the tech industry.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img src="/static/img/smol.png" class="img-responsive img-circle" alt="">
            <h4>Smol</h4>
            <p class="text-muted">The Spicy Peanut</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img src="/static/img/frisky.png" class="img-responsive img-circle" alt="">
            <h4>Frisky</h4>
            <p class="text-muted">Head Comedian</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img src="/static/img/caarl.png" class="img-responsive img-circle" alt="">
            <h4>Caarl</h4>
            <p class="text-muted">The Rational One</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img src="static/img/bison.png" class="img-responsive img-circle" alt="">
            <h4>Bison</h4>
            <p class="text-muted">Leader of the Herd</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img src="static/img/savage.png" class="img-responsive img-circle" alt="">
            <h4>Savage</h4>
            <p class="text-muted">Site Stylist</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img src="static/img/flurry.png" class="img-responsive img-circle" alt="">
            <h4>Flurry</h4>
            <p class="text-muted">Moral Support</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; WITCON 2017</span>
        </div>
        <!-- <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="#">Privacy Policy</a>
            </li>
            <li><a href="#">Terms of Use</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>


  <!-- jQuery -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

  <!-- Contact Form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/contact_me.js"></script>

  <!-- Theme JavaScript -->
  <script src="static/js/agency.min.js"></script>

</body>

</html>
