<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>WIT</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom Fonts -->
   <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
   <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

   <!-- Theme CSS -->
   <link href="/static/css/agency.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->


</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="index.html">WITCON</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="/#about">About</a>
          </li>
          <!-- do mission within -->
          <li class="dropdown">
                <a href="#resources" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#articles" style="color:black">Articles</a></li>
                  <li><a href="#events" style="color:black">Events</a></li>
                  <li><a href="#learn" style="color:black">Learn</a></li>
                </ul>
              </li>
          <li>
          <li>
            <a class="page-scroll" href="/#testimonials">Testimonials</a>
          </li>
          <li>
            <a class="page-scroll btn btn-md" style="background-color:#1297BA; padding:5px; margin-top:9px; margin-left:10px" href="/signup/">Sign Up</a>
          </li>
          <li>
            <a class="page-scroll btn btn-md" style="background-color:#1297BA; padding:5px; margin-top:9px; margin-left:10px" href="/login/">LogIn</a>
            <a class="page-scroll btn btn-md" style="background-color:#1297BA; padding:5px; margin-top:9px; margin-left:10px" href="#signup.html">Sign Up</a>
          </li>
          {% if session['email'] %}
           <a class="page-scroll btn btn-md" style="background-color:#1297BA; padding:5px; margin-top:9px; margin-left:10px" href="/login/">LogOut</a>
          {% else %}
          <li>
            <a class="page-scroll btn btn-md" style="background-color:#1297BA; padding:5px; margin-top:9px; margin-left:10px" href="/login/">LogIn</a>
            {% endif %}
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="intro-text">
        <!-- <div class="intro-lead-in"></div> -->
        <div class="intro-heading">Resources</div>
        <a href="#articles" class="page-scroll btn btn-xl" style="margin:5px; padding:20px">Articles</a>
        <a href="#events" class="page-scroll btn btn-xl" style="margin:5px; padding:20px">Events</a>
        <a href="#learn" class="page-scroll btn btn-xl" style="margin:5px; padding:20px">Learn</a>
      </div>
    </div>
  </header>

  <div style="text-align:center;" >
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}
  </div>


  <!-- Articles -->
  <section id="articles" class="bg-light-gray" style="padding-bottom:75px;padding-top:75px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Articles</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="http://www.npr.org/sections/money/2017/01/30/511788585/there-arent-enough-women-in-tech-heres-why" class="portfolio-link" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/npr.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">There Aren't Enough Women in Tech. Here's Why.</h4>
            <p class="text-muted" style="text-align:center">NPR</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item" style="margin-bottom:20px">
          <a href="https://techcrunch.com/2016/04/14/women-in-tech-whats-the-real-problem/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/techcrunch.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Women in tech: What’s the real problem?</h4>
            <p class="text-muted" style="text-align:center">TechCrunch</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://www.entrepreneur.com/article/278400" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/entrepreneur.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Tech's Gender Wage Gap Is Real, Partly Because Men Don't Believe It Is.</h4>
            <p class="text-muted" style="text-align:center">Entrepreneur</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://www.buzzfeed.com/tamerragriffin/women-challenge-gender-stereotypes-with-ilooklikeanengineer?utm_term=.vtZmqN4m3k#.nizY4MAYgj" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/buzzfeed.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Women Challenge Gender Stereotypes With #ILookLikeAnEngineer</h4>
            <p class="text-muted" style="text-align:center">Buzzfeed</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://www.wired.com/2016/08/womens-equality-day-tech-companies-promise-change/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/wired.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">On Women’s Equality Day, More Tech Companies Promise Change</h4>
            <p class="text-muted" style="text-align:center">Wired</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="http://venturebeat.com/2016/09/08/blogher-cofounder-starts-conference-to-help-women-founders-scale-their-business/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/venturebeat.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">BlogHer cofounder starts conference to help women founders scale their business</h4>
            <p class="text-muted" style="text-align:center">Venture Beat</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Events -->
  <section id="events" class="bg-light-gray" style="padding-bottom:75px;padding-top:75px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Events</h2>
          <h3 class="section-subheading text-muted">Hackathons, conferences, and other events geared toward advancing women in tech.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="http://www.wwcodehackathon.com/" class="portfolio-link" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/wwcode.png" class="/static/img-responsive" alt="" style="margin:0 auto;">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Women Who Code Hackathon</h4>
            <p class="text-muted" style="text-align:center">July 29-31 / Atlanta, GA</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="http://www.wecodeharvard.com/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/wecode.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">WECode Conference</h4>
            <p class="text-muted" style="text-align:center">February 4-5 / Cambridge, MA</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="http://wic-hacks.rit.edu/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/wichacks.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">WiCHacks (Women in Computing Hackathon)</h4>
            <p class="text-muted" style="text-align:center">February 25-26 / Rochester, NY</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item" style="margin-bottom:20px">
          <a href="http://www.globaltechwomen.com/voices-global-conference.html" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/globaltechwomen.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Global Tech Women Conference</h4>
            <p class="text-muted" style="text-align:center">March 6-10 / Silicon Valley, CA</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="http://wellesleyhacks.org/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/whack.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">WHACK (Wellesley Hackathon)</h4>
            <p class="text-muted" style="text-align:center">February 11-12 / Wellesley, MA</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="http://ghc.anitaborg.org/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/gracehopper.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Grace Hopper Conference</h4>
            <p class="text-muted" style="text-align:center">October 4-6 / Orlando, FL</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Learn -->
  <section id="learn" class="bg-light-gray" style="padding-bottom:75px;padding-top:75px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Learn</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://www.codecademy.com/learn/all" class="portfolio-link" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/codeacademy.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Code Academy</h4>
            <p class="text-muted" style="text-align:center">HTML, CSS, Java, Python, Javascript, Ruby, SQL, Git, Command Line, Sass</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://code.org/learn" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/hourofcode.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Hour of Code</h4>
            <p class="text-muted" style="text-align:center">Blocks, Scratch, Javascript, Python, Coffeescript, MATLAB</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://www.codewars.com/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/codewars.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Code Wars</h4>
            <p class="text-muted" style="text-align:center">Clojure, C++, C#, Elixer, Java, Javascript, Haskell, PHP, Python, Ruby, Swift, TypeScript</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item" style="margin-bottom:30px">
          <a href="https://dash.generalassemb.ly/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/dash.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Dash (General Assembly)</h4>
            <p class="text-muted" style="text-align:center">HTML, CSS, Javascript</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://www.tynker.com/free-play/" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/tynker.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Tynker</h4>
            <p class="text-muted" style="text-align:center">Coding Games</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="https://www.coursera.org/?siteID=3PhbAxfdARQ-Hfwwq3NVMAvW47A7q8_KHw&utm_content=3&utm_medium=partners&utm_source=linkshare&utm_campaign=3PhbAxfdARQ" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/coursera.png" class="/static/img-responsive" alt="" style="margin:0 auto">
          </a>
          <div class="portfolio-caption">
            <h4 style="text-transform:initial; text-align:center">Coursera</h4>
            <p class="text-muted" style="text-align:center">Free University Courses</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2016</span>
        </div>
        <!-- <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="#">Privacy Policy</a>
            </li>
            <li><a href="#">Terms of Use</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>


  <!-- jQuery -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

  <!-- Contact Form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/contact_me.js"></script>

  <!-- Theme JavaScript -->
  <script src="static/js/agency.min.js"></script>


</body>

</html>
